<div class="inner">
	{{#link-to "index" class="heading"}}Miška & Víťa{{/link-to}}
	<div class="admin">
		{{#unless session.isAuthenticated}}
			{{#link-to "login"}}{{fa-icon "user-o"}}<span class="mobile-hidden">Přihlásit se</span>{{/link-to}}
		{{else}}
			{{#link-to "admin"}}{{fa-icon "lock"}}<span class="mobile-hidden">Administrace</span>{{/link-to}}
		{{/unless}}
	</div>
</div>