
<div class="heading image">
  <div class="image">
    {{load-image model=author class="image-container"}}
  </div>
  <div class="info">
    <div class="name">
      {{author.name}}
    </div>
    <div class="about">
      {{author.info}}
    </div>
    <div class="count">
      5
    </div>
  </div>
</div>
<div class="content">
  <div class="songs">
    {{song-list model=author.songs}}
  </div>
</div>
