<div class="header">
  <button type="button" name="button" class="btn btn-small btn-header"{{action "close"}}>{{fa-icon "times"}}Zavřit</button>
</div>
  <div class="burger-menu-links">
    {{#unless session.isAuthenticated}}
      <div class="links-block">
        {{#link-to "signup" class="btn btn-small" click=(action "close")}}Registrace{{/link-to}}
      </div>
    {{/unless}}
    <div class="links-block">
      {{#link-to "index" class="btn-small btn" click=(action "close")}}Domů{{/link-to}}
      {{#link-to "articles.show" class="btn-small btn" click=(action "close")}}Články{{/link-to}}
      {{#link-to "articles.category" class="btn-small btn" click=(action "close")}}Kategorie{{/link-to}}
      {{#link-to "song" class="btn-small btn" click=(action "close")}}Písničky{{/link-to}}
      {{#link-to "song.author.index" class="btn-small btn" click=(action "close")}}Autoři{{/link-to}}
      {{#if session.isAuthenticated}}
        {{#link-to "articles.new" class="btn-small btn" click=(action "close")}}Nový článek{{/link-to}}
        {{#link-to "song.new" class="btn-small btn" click=(action "close")}}Nová písnička{{/link-to}}
      {{/if}}
    </div>
    <div class="links-block">
      {{#if session.isAuthenticated}}
        <button {{action "signOut"}} class="btn-small btn" >Odhlásit se</button>
      {{/if}}
    </div>
  </div>
{{yield}}
