<div class="header">
  <button type="button" name="button" class="btn btn-small btn-header"{{action "close"}}>{{fa-icon "times"}}Zavřit</button>
</div>
  <div class="burger-menu-links">
    <div class="links-block">
      {{#link-to "song" class="btn-small btn" click=(action "close")}}Všechny písničky{{/link-to}}
    </div>
    <br>
    <div class="links-block">
    </div>
  </div>
{{yield}}
