<div class="inner">
  {{#link-to "index"}}Domů{{/link-to}}
  {{#link-to "articles.show"}}Články{{/link-to}}
  {{#link-to "articles.category"}}Kategorie{{/link-to}}
  {{#link-to "song"}}Písničky{{/link-to}}
  {{#link-to "song.author.index"}}Autoři{{/link-to}}
  {{#if session.isAuthenticated}}
    {{#link-to "articles.new"}}Nový článek{{/link-to}}
    {{#link-to "song.new"}}Nová písnička{{/link-to}}
  {{/if}}


{{yield}}
</div>
