
{{#each model as |song|}}
  <div class="list">
    {{#link-to "song.show" song.id class="list"}}
        <div class="info">
          <div class="name">
            {{song.name}}
          </div>
          <div class="count">
            5
          </div>
        </div>
    {{/link-to}}
  </div>
{{/each}}
