
.add-new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 85px);

  .add {
    background: rgba(8,8,8,1);
    background: -moz-linear-gradient(-45deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8,8,8,1)), color-stop(100%, rgba(82,82,82,1)));
    background: -webkit-linear-gradient(-45deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    background: linear-gradient(135deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080808', endColorstr='#525252', GradientType=1);
    align-items: center;
    border-bottom: 2px solid $white;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100%;

    i {
      font-size: 35px;
      margin-right: 10px;
    }
  }
}

.opening-box {
  border: 1px solid $black;
  border-top: 0;
  box-shadow: 0 0 3px $box-shadow;
  margin-bottom: 2em;
  padding: 20px $space $space;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .new-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

     &>div {
      width: 100%;

      input,
      textarea {
        max-width: 50%;
      }
    }

    .add-cat {
      margin-top: 27px;
    }

    .category,
    .add-cat {
      width: 50%;
    }

    .new-category {
      &>div {
        input,
        textarea {
          max-width: 100%;
        }
      }
    }
  }
  .add-new {
    .add {
      font-size: 18px;
      height: 50px;
      width: 50%;

      i {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .add-new {
    .add {
      margin: 0 -10px;
      width: 100vw;
    }
  }

  .add-cat {
    margin: (-$space) 0 $big-space;
  }
}
