.song-book-list {

  .list.bg {
    background: $white;
  }

  .add .btn {
    border-top: 1px solid $gray;
    margin-top: 5px;
  }
}

.song-book-list {
  margin-bottom: 15px;

  .add {
    .btn-song-book {
      margin-right: 5px;
      width: auto;
      display: inline-block;
    }
  }
}

.new-song-book {
  border: 1px solid $black;
  padding: 15px;
}

.list-song-book {
  display: block;
  height: 45px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.list-song-book-inner {
  display: flex;
}

.editor {
  font-size: 17px;
  padding: $big-space $space;

  .flex {
    margin-bottom: $big-space;
  }

  .btn {
    &-small {
      padding: $small-space;
    }


    .image {
      margin-bottom: $small-space;
      max-height: 50px;
      overflow: hidden;
    }

    .image {
      max-height: 40px;
    }

    img {
      display: block;
      max-width: 100%;
      width: 140px;
    }
  }
}

.song-book-detail {
  .btn-print {
    background: transparent;
    border: 0;
    border-right: 1px solid $gray;
    display: inline-block;
    font-size: 8px;
    line-height: 8px;
    margin-bottom: 7.5px;
    padding: 3.75px 7.5px;
    position: absolute;
    right: $space;

    i.fa {
      display: block;
      font-size: 20px;
      margin-bottom: 3px;
    }
  }

  &.print {
    box-shadow: 0 0 5px $black-transparent-light;

    > .heading {
      box-sizing: border-box;
      height: 100%;
      page-break-after: always;
      position: static;
      width: 100%;

      .btn-print {
        height: auto;
        top: 62px;
      }

      .info {
        margin: 30px;
        padding: 30px;
        .name {
          font-size: 65px;
          //text-transform: uppercase;
        }
      }

      .author,
      .like {
        display: none;
      }

      .others {
        justify-content: center;

        .addedBy {
          font-size: 25px;
          text-align: center;
          width: auto;

          a {
            font-size: 35px;
          }
        }
      }

      .list-of-songs {
        font-size: 12px;
        font-weight: normal;
      }
    }

    &.vinil {
      > .heading {
        background: $black url('/img/bg-1.png') no-repeat 50% 50% / cover;
        color: $white;

        a {
          color: $white;
        }
      }
    }

    &.black {
      > .heading {
        background: $black url('/img/bg-2.jpg') no-repeat 50% 50% / cover;
        color: $white;

        .info {
          .name {
            text-align: right;
          }

          .others {
            border-top: 0;
            justify-content: flex-end;
          }
        }

        a {
          color: $white;
          text-align: right;
        }
      }
    }

    &.retro {
      > .heading {
        background: $black url('/img/bg-3.jpg') no-repeat 50% 50% / cover;
        color: $white;
        margin: 0;

        .info {
          background: $brown-transparent;
          color: $brown-light;

          .name {
            font-size: 65px;
          }

          .others {
            border: 0;
          }
        }

        a {
          color: $brown-light;
        }
      }
    }

    &.hippie {
      > .heading {
        background: $black url('/img/bg-4.jpg') no-repeat 50% 50% / cover;
        color: $white;

        .info {
          background: $green-transparent;
          color: $blue-dark;

          .name {
            font-size: 65px;
          }

          .others {
            border: 0;
          }
        }

        a {
          color: $green-dark;
        }
      }
    }

    &.a4 {
      > .heading {
        height: 1090px;
      }
    }

    &.a5 {
      > .heading {
        height: 770px;
      }
    }

    .list-of-songs {
      font-size: 20px;
      height: 100vh;
      position: relative;
    }

    .song-detail {
      .song-book-list,
      .like,
      .addedBy,
      .buttons {
        display: none;
      }

      .heading {
        margin: 0 !important;
        padding: $small-space;
      }

      .others {
        justify-content: center;
      }

        .author {
          text-align: center;
          width: auto;
        }

      .content .text {
        max-height: none;
        width: 100%;
      }

      .content .video {
        display: none;
        width: 0;
      }

      .song {
        margin:0 30px 60px;
      }
    }
  }




}

@media screen and (min-width: $breakpoint-mobile + 1) {
 .print-page {
   margin-top: $big-space;
 }
}

@media screen and (max-width: $breakpoint-mobile) {
 .editor {
   background: $gray-lighter;
   margin: 0 (-$space);
   padding: $big-space $space;
 }
}
