$black: #000;
$black-transparent: rgba(0, 0, 0, .72);
$black-transparent-light: rgba(0, 0, 0, .2);
$blue: #315fa9;
$green: #488e48;
$green-dark: #699864;
$primary: $black;
$red: #900;
$white: #fff;
$gold: #b19322;
$gray: #e8e8e8;
$gray-light: #f0f0f0;
$gray-lighter: #f7f7f7;
$gray-dark: #636363;
$yellow: #daac00;
$box-shadow: #a9a9a9;
$red: #bd0000;

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

html {
  background: $gray-lighter;
}

a {
  color: $green;
}



.buttons {
  bottom: 0;
  position: fixed;
  right: 0;

  .btn {
    //height: 50px;
  }

  .scroll-buttons,
  .text-buttons {
    display: flex;
    justify-content: flex-end;

    .btn {
      border: 0;
      border-right: 1px solid $gray;
      padding: 5px;
      position: relative;
      width: 50px;

      &:hover,
      &.active {
        background: $gray;
        //color: $white;
      }

      .icon {
        font-size: 12px;

        i {
          font-size: 35px;
        }

        span {
          font-size: 20px;
        }

        .third {
          position: absolute;
          top: -8px;
        }
      }

      p {
        margin: 0;
        line-height: 10px;
        font-size: 11px;
      }

      &.stop {
        .icon {
          i {
            font-size: 20px;
            line-height: 35px;
          }
        }
      }
    }
  }
}

.main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  padding: 1.5em;
}

.new-article {

  .heading {
    //padding: 20px 30px;
  }
}

.add-new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 85px);
  //margin: 0 -15px;

  .add {
    background: rgba(8,8,8,1);
    background: -moz-linear-gradient(-45deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8,8,8,1)), color-stop(100%, rgba(82,82,82,1)));
    background: -webkit-linear-gradient(-45deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    background: linear-gradient(135deg, rgba(8,8,8,1) 0%, rgba(82,82,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#525252', GradientType=1 );
    align-items: center;
    border-bottom: 2px solid $white;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100%;

    i {
      font-size: 35px;
      margin-right: 10px;
    }
  }
}

[data-ember-action]:not(:disabled),
.clickable {
  cursor: pointer;
}

.category-list {
  a {
    display: block;
  }
}

.image-box {
  cursor: pointer;
  //margin: 0 -15px 5px;
  overflow: hidden;
  position: relative;
  width: 100vw;

  .category-name {
    color: $white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 100;

    a {
      color: $white;
      display: block;
      height: 100%;
      text-decoration: none;
    }
  }

  .image-container {
    height: 150px;
    position: relative;

    img {
      max-width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      background: $black-transparent;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}

.main-name {
  //background: linear-gradient(45deg, $blue, $yellow);
  //font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: 500;

  &.arrow {
    background: transparent;

    .back {
      color: $white;
      //font-size: 20px;
    }
  }
}

.button,
.btn,
button {
  background: $black;
  border: 0;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: block;
  //font-family: 'Roboto';
  font-size: .9em;
  font-weight: 500;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s;

  &-small {
    font-size: .8em;
    padding: .75em 1.5em;
  }

  &-default {
    background: $white;
    border: 1px solid $black;
    color: $black;
    font-weight: 500;
  }

  &-inverse {
    background: $white;
    color: $gray-dark;

    &:hover {
      color: $black;
    }
  }

  &:hover,
  &:active,
  &.active {
    background: $gray-dark;
    color: $black;
    transition: all .5s;
  }

  &.logout {
    margin-left: .5em;
    min-width: 105px;
  }
}

.head {
  .inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.5em;
  }
}

.modal {
  background-color: $black-transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &-overflow {
    background: $white;
    left: 50%;
    max-height: 80%;
    max-width: 400px;
    padding: 3em 2.5em;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
  }

  .close {
    cursor: pointer;
    padding: .5em;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.opening-box {
  border: 1px solid $black;
  border-top: 0;
  box-shadow: 0 0 3px $box-shadow;
  padding: 2em;
  position: relative;
  z-index: 2;
}

.scrolling-box {
  position: relative;
}

.main-menu {
  background: $primary;
  width: 100%;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto 20px;
    max-width: 1280px;
  }

  a {
    color: $white;
    display: flex;
    padding: 20px;
    text-decoration: none;
    transition: all .25s;

    &.active,
    &:hover {
      background: $white;
      color: $black;
      transition: all .25s;
    }
  }
}

  label {
    color: $gray-dark;
    font-size: .95em;
    left: 0;
    position: absolute;
    top: .75em;
    transition: all .25s;
  }


form {
  //padding-top: 20px;
}

.input-field {
  margin: 0 0 1.5em;
  position: relative;

  &.full-width {
    width: 100%;

    input,
    textarea {
      width: 100%;
    }
  }

  textarea {
    min-height: 150px;
    width: 100%;
  }

  input,
  textarea {
    background: none;
    border: 0;
    border-bottom: 1px solid $primary;
    border-radius: 0;
    outline: 0;
    padding: 1em 0;


    &:focus + label {
      transform: translateY(-110%);
      font-size: .8em;
      left: 0;
    }

    &:not(:placeholder-shown) + label {
      transform: translateY(-110%);
      font-size: .8em;
      left: 0;
    }

    &:not(:-ms-input-placeholder) + label {
      transform: translateY(-110%);
      font-size: .8em;
      left: 0;
    }
  }

  input[type="file"] {
    background: $white;
  }

  .has-units {
    padding-right: 2em;

    .units {
      color: $gray;
      font-size: .9em;
      padding: .7em 0;
      position: absolute;
      right: 0;
      top: 0;
  }
}

  .errors {
    margin: -1em 0 1.5em;
  }

  @supports (-ms-ime-align: auto) {
    input + label {
      transform: translateY(-110%);
      color: $gray;
      font-size: .8em;
      left: 0;
    }
  }
}

.select-field {
  padding: 2em 0 0;
  position: relative;

  select {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $black;
    padding: 1em 0;
    width: 100%;
  }

  option {
    padding: 1em 0;
  }
}

input,
select {
  -webkit-appearance: none;
  max-width: 50%;
  min-width: 50%;
}

.article {
  position: relative;

  .admin-panel {
    align-items: center;
    background: $gray-light;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;

    .action {
      align-items: center;
      box-sizing: border-box;
      color: $black;
      display: flex;
      height: 50%;
      padding: 10px;
      position: relative;
      right: 0;
      text-decoration: none;
      width: 100%;
      z-index: 100;
    }
  }

  .body {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
  }

  .title {
    //font-family: 'Slabo 27px', serif;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    //margin: 0 -15px;
    //padding: 0 15px 10px;

    .date,
    .author,
    .category {
      font-size: 13px;
      margin: 0 10px 0 0;
      padding: 5px 0;
    }
  }


  &.detail {
    background: $white;
    box-shadow: none;
    padding: 0 0 15px;
  }
}

.login {
  display: flex;
  margin: 0;
}

.profil {
  /*background: $white;
  box-shadow: 1px 1px 3px $box-shadow;
  box-sizing: border-box;
  margin: 0 -15px;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  z-index: 3;*/
  .actions {
    border-bottom: 1px solid $gray;
    display: flex;
    //margin: 0 -15px;
  }
}

.heading {
  background: $gray-light;
  color: $black;
  //font-size: 1.1em;
  font-weight: 500;
  //margin: 0 -15px 3px;
  margin: 0 0;
  padding: 15px 15px;
  position: relative;

  &.sub {
    background: $white;
    border-top: 1px solid $gray-light;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
  }

  &> .text {
    font-size: 16px;
    font-weight: 100;

  }

  .article-link {
    color: $black;
    text-decoration: none;
    width: 100%;
  }

  &.image-bg {
    color: $white;
    height: 150px;
    padding: 0;

    .image-container {
      height: 100%;
    }

    .image {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .info {
    .name {
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .link {
    color: $gray-dark;
    float: right;
    font-size: 14px;
    font-weight: 100;
  }
}

.song-detail {
  .content {
    .text {
      max-height: calc(100vh - 175px);
      overflow-y: scroll;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.song-detail,
.article-detail {
  .name {
    margin-bottom: 8px;
  }
  .others {
    border-top: 1px solid $gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;

    a {
      color: $black;
      display: block;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .like {
    font-size: 18px;
    text-align: center;
    width: 20%;

    i {
      display: block;
      font-size: 20px;
    }
  }

  .addedBy,
  .author {
    font-size: 18px;
    font-weight: 100;
    width: 40%;
  }

  .addedBy {
    text-align: right;
  }

  .date {
    font-weight: 100;
    margin-bottom: 5px;
    width: 100%;
  }

  &.bigger-text {

    .content {
      .text .song {
        font-size: 25px;
        line-height: 45px;

        .chord {
          font-size: 27px;

        }
      }
      .text {
        width: 70%;
        transition: all .5s;
      }

      .video {
        width: 30%;
        transition: all .25s;
      }
    }

  }

}

.home-stats {
  padding: 20px 0 80px;
  background: $gray;

  .inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .stat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: 33.3%;

    &.songs {
      margin-bottom: 20px;
      width: 100%;

      p {
        color: $gold;
        font-size: 40px;
      }
    }

    p {
      color: $gray-dark;
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }

    span {
      color: $gray-dark;
      text-align: center;
      width: 100%;
    }
  }
}

@media screen and (min-width: 641px) {
  .login-mobile,
  .burger-menu {
    display: none;
  }

  .active-user {
    a {
      align-items: center;
      color: $black;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 0 .5em;
      text-decoration: none;
    }
  }
}

.image-container {
  height: 150px;
  overflow: hidden;
  position: relative;

  img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    background: $black-transparent;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}


.author-list {
  a {
    color: $white;
    text-decoration: none;
  }
}

.image-bg {
  overflow: hidden;

  .image {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .image-container {
      //height: 120px;
      position: relative;

      img {
        max-width: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        background: $black-transparent;
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }
  }

  .info {
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
    position: relative;

    .name {
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    .about {
      font-size: 13px;
    }

    .count {
      border-right: 1px solid $white;
      font-size: 15px;
      padding: 1px 5px;
      text-align: right;
    }
  }

  .info {
    position: relative;
  }

  .about {
    font-weight: 100;
    height: calc(100% - 40px);
    margin-top: 8px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
  }
}

.rating {
  align-items: center;
  background: $yellow;
  border-radius: 50%;
  color: $white;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  height: 19px;
  justify-content: center;
  width: 19px;
}

.list {
  //margin: 0 -15px 1px;
  position: relative;

  &.image-bg {
    background: $gray-dark;
    height: 120px;
  }

  &.bg {
    background: $gray-light;
    padding: 10px 15px;

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .name {
        font-size: 17px;
      }

      .right {

        .like {
          align-items: center;
          display: flex;
          font-size: 20px;
        }

        i.fa-heart,
        i.fa-heart-o {
          //color: $red;
          margin-right: 5px;
        }

      }

      .date {
        font-size: 11px;
      }
    }

    .others {
      display: flex;
    }

    .right {
      display: flex
    }

    .rating {
      margin-left: 5px;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }

  .admin-panel {
    border-left: 1px solid $white;
    display: flex;
    margin-left: 10px;
    margin-right: -10px;

    .action {
      padding: 0 10px;
    }
  }

}

.articles-all {
  //margin: 0 -15px;
}

.song {
  //font-family: 'Work Sans', sans-serif;
  //font-family: 'Space Mono', monospace;
  font-family: 'Cutive Mono', monospace;
  padding: 15px 10px 0;

  .chord {
    color: $gray-dark;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
  }
}

.bottom-bar {
  align-items: center;
  background: $white;
  border-top: 1px solid $gray;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
  position: fixed;
  width: 100%;

  a {
    color: $gray-dark;
    text-decoration: none;
    &.active {
      color: $black;
    }
  }

  .link {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;

    i {
      display: block;
      font-size: 18px;
      margin-bottom: 1px;
    }

    &.add {
      i {
        font-size: 30px;
      }
    }
  }
}

$preview-height: 5.375em;

.media-upload {
  &:not(.selected) {
    margin: 1.5em 0;
    text-align: center;
  }

  .preview {
    line-height: 0;
    margin: -.5em -1em 1.25em;
    min-height: $preview-height;
    position: relative;

    .remove {
      //@include circle(2em, $white);
      color: $red;
      position: absolute;
      right: .75em;
      top: .75em;
      z-index: 1;
    }

    .challingo-icons {
      font-size: 1.5em;
    }

    img {
      width: 100%;
    }
  }

  .progress-bar {
    //@extend %vertical-align;
    margin: 0 1em;
    min-height: $preview-height;
  }

  .progress {
    background-color: $gray;
    width: 100%;

    .determinate {
      //@include transition(width .25s);
      background-color: $black;
      box-sizing: border-box;
      color: $white;
      font-size: .9em;
      padding: .5em;
      white-space: nowrap;
    }
  }

  label {
    display: inline-block;
    position: relative;

    [type="file"] {
      bottom: .25em;
      margin: 0;
      opacity: 0;
      position: absolute;
      top: 0;
    }

    .challingo-icons {
      color: $black;
      font-size: 6.5em;
    }
  }

  .errors {
    margin-top: 1em;
  }
}

.hero {
  height: 400px;
  .hero-inner {
    height: 400px;
    overflow: hidden;
    .hero-img {
      max-width: 100%;
      position: relative;
      transform: translateY(-50%);
      top: 50%;
    }
  }
}

.home-info {
  display: flex;
  .box {
    .title {
      text-align: center;
    }

    .song-list {
      .list {
        background: transparent;
        border: 0;
      }
    }

    .song-list .list, .article-list .list {
      width: 100%;
    }

    .articles-all .heading {
      background: transparent;
      padding: 0;
      width: 100%;

      .info {
        .name,
        .date {
          text-align: left;
        }

        .name {
          font-size: 15px;
        }
      }

      .text {
        margin-top: 0;
      }

    }
  }
}

@media screen and (min-width: 1280px) {

  .hero {
    .hero-inner {
      height: 400px;
      overflow: hidden;
      .hero-img {
        max-width: 100%;
      }
    }
  }

  .home-info {
    //padding: 15px 0;
    margin-left: calc( ( 100vw - (1280px) ) / 2* -1);
    margin-right: calc( ( 100vw - (1280px) ) / 2 * -1);
    .box {
      width: 33.3%;
      box-sizing: border-box;
      padding: 15px 15px;
      background: $gray-lighter;

      &.articles {
        background: $white;
        padding-left: calc( ( 100vw - (1280px) ) / 2);
            width: calc( 426px + ( ( 100vw - (1280px) ) / 2) );
      }

      &.favourite {
        //background: $black;
        //color: $white;
        padding-right: calc( ( 100vw - (1280px) ) / 2);
            width: calc( 426px + ( ( 100vw - (1280px) ) / 2) );
      }

      &.new {
        //background: $black;
        //color: $white;
        width: 456px;
      }

      &.new,
      &.favourite {
        .list.bg a {
          //color: $white;
        }
      }
    }
  }

  .home-stats {
    .inner {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  .song-detail .heading,
  .author-detail .heading.image-bg,
  .hero-inner,
  .home-stats {
    margin-left: calc( ( 100vw - (1280px) ) / 2* -1);
    margin-right: calc( ( 100vw - (1280px) ) / 2 * -1);

    .info {
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}

//desktop

@media screen and (min-width: 649px) {

  .desktop-hidden {
    display: none !important;
  }
  .main {
    padding: 47px 0 0;
    position: relative;

    > .title {
      text-align: center;
      padding: 10px 0;
      font-size: 26px;

      &+ .subtitle {
        display: flex;
        position: absolute;
        top: 55px;
        right: 0;
      }
    }


  }

  .btn,
  .button,
  button {
    border-radius: 0;
  }

  input, select {
    max-width: 100%;
    width: 100%;
  }

  .new-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

     &>div {
      width: 100%;

      input,
      textarea {
        max-width: 50%;
      }
    }

    .add-cat {
      margin-top: 27px;
    }

    .category,
    .add-cat {
      width: 50%;
    }

    .new-category {
      &>div {
        input,
        textarea {
          max-width: 100%;
        }
      }
    }
  }

  .bottom-bar {
    border: 0;
    justify-content: flex-start !important;
    top: 0;

    &.container {
      box-shadow: 0 1px 5px rgba(86, 86, 86, 0.2196078431372549);
      height: 47px;
      justify-content: center !important;
    }
  }

  .bottom-bar .link {
    font-size: 18px;
    font-weight: normal;
    transition: all .5s;
    flex-grow: 0 !important;
    height: 100%;
    display: flex;
    text-transform: none;

      &.active,
      &:hover {
        background: $gray;
        transition: all .5s;
      }
    i {
      font-size: 15px;
      margin-right: 5px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0  25px;
    }

    &.favourite,
    &.profile {
      font-size: 10px;

      a {
        flex-wrap: wrap;
      }

      i {
        display: block;
        font-size: 18px;
        margin: 0 0 -10px;
        width: 100%;
      }
    }

    &.chords,
    &.news {
      i {
        display: none;
      }
    }

     &.add,
     &.login {
       margin-left: auto;
       order: 5;
       a {
        background: $black;
        color: $white;
        transition: all .5s;
        width: 110px;


        &:hover,
        &:active,
        &.active {
          background: $gray-dark;
          //color: $black;
          transition: all .5s;

          span {
            transition: all .5s;
          }

          i {
            transform: scale(1.3);
            transition: all .5s;
          }
        }
       }

       i {
         font-size: 18px !important;
         margin-right: 10px;
       }
     }

     &.main-name {
       color: $black;
       font-size: 41px;
       a {
         color: $black;
         padding: 0;

         img {
          height: 75px;
          position: relative;
          top: 15px;
         }
       }
     }


  }

  .bottom-bar .inner {
    height: 47px;
    max-width: 1280px;
    margin: 0 auto;
  }

  .head {
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  .author-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      padding: 1px;
      box-sizing: border-box;
      width: 33.3%;
    }
  }

  .image-bg .about {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .add-new {
    .add {
      font-size: 18px;
      height: 50px;
      width: 50%;

      i {
        font-size: 25px;
      }
    }
  }

  .articles-all {
    width: 100%;
    .heading {
      width: 33.3%;
    }
  }

  .song-detail {
    .content {
      display: flex;

      .text,
      .video {
        width: 50%;
        transition: all .5s;

        .song {
          font-size: 19px;
          line-height: 32px;
        }
      }
    }
  }

  .song-list,
  .article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .list {
      border: 1px solid $gray-lighter;
      box-sizing: border-box;
      padding: 10px 15px;
      width: 33.3%;
    }
  }

  .scrolling-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .column {
      width: 100%;
    }

    .song-list,
    .article-list {
      .list {
        width: 100%;
      }
    }
  }

  .profil {
    margin-bottom: 35px;
  }

  .article-detail {
    .text {
      margin-top: 15px;
    }
  }

  .author-detail {
    .heading.image-bg {
      height: 250px;

      .info .about {
        font-size: 18px;
      }
    }
  }

  .heading,
  .list.bg,
  .list {
    .info {
      .name {
        font-size: 20px;
      }
    }


    &.image-bg {
      height: 150px;

      .info {
        .name {
          font-size: 26px;
          font-weight: 400;
          text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.54);
          text-transform: none;
        }
        .about {
          font-size: 18px;
          max-height: calc(100% - 60px);
          margin-bottom: 10px;
        }
      }
    }
  }

  .home-info {
    .box {
      width: 33.3%;
      box-sizing: border-box;
      padding: 15px 30px 50px;
      background: $gray-lighter;

      &.articles {
        background: $white;
        .title {
          text-align: left;
        }
      }

      &.new {
        .title {
          text-align: center;
        }

        .song-list .list {
          &.bg .info {
            justify-content: center;
          }
        }
      }

      &.favourite {
        .title {
          text-align: right;
        }

        .song-list .list {
          &.bg .info {
            justify-content: flex-end;

            .name {
              margin-right: 10px;
            }
          }
        }
      }

      .title {
        font-size: 26px;
      }

      .song-list .list, .article-list .list {
        //background: rgba(255, 255, 255, 0.23921568627450981);
        margin-bottom: 4px;
        padding: 10px 0;
        //border-radius: 0px;
        width: 100%;


      }

      .articles-all .heading {
        background: transparent;
        padding: 0;
        width: 100%;

        .info {
          .name,
          .date {
            text-align: left;
          }

          .date {
            padding: 0;
          }

          .others {
            border: 0;
          }

          .name {
            font-size: 20px;
            font-weight: 400;
            text-transform: none;
          }
        }

      }
    }
  }
}

//mobile
@media screen and (max-width: 648px) {
  .mobile-hidden {
    display: none;
  }
  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  .opening-box {
    margin-bottom: 2em;
    padding: 20px 15px 15px;
  }

  .box {
    .list:last-child {

    }
  }

  .article-detail {
    .content {
      padding: 15px 0;
    }


  }

  .buttons .text-buttons {
    display: none;
  }

  .buttons {
    bottom: 45px;
    .scroll-buttons,
    .text-buttons {
      .btn {
        border-radius: 0;
        width: auto;

        .icon {
          i {
            font-size: 22px;

            &.third {
              top: -3px;
            }
          }
        }

        &.stop .icon i  {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }

  .song-detail .content .text {
    max-height: calc(100vh - 131px);
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  .song-detail .content .video {
    padding: 30px 0 52px;
  }

  .subtitle {
    //margin: 0 -15px;
    padding: 5px;
  }

  .head {
    background: $black;
    box-shadow: 0 1px 7px $black-transparent;
    height: 40px;
    justify-content: space-between;
    left: 0;
    padding: 0 0 0 15px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    .login {
      display: none;
    }

    .inner {
      padding: 0;
    }

    .login-mobile {
      display: flex;
      .btn {

      }

      .fa {
        display: block;
      }
    }

    .active-user {
      background: $black;
      padding: .45em .65em;
      text-align: center;

      a {
        color: $white;
        text-decoration: none;
      }

      .fa {
        display: block;
      }
    }

    .main-name {
      color: $white;
      margin: 0;

      img {
        max-height: 55px;
        position: absolute;
        top: 0;
      }
    }

    .right {
      background: $black;
      display: flex;
      height: 40px;
      overflow: hidden;

      .btn-header.active {
        background: transparent;
        color: $white;
      }
    }

    .fa {
      font-size: 1.5em;
    }

    .burger-menu {
      background: $black;
      bottom: 0;
      height: 100vh;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate3d(100vw, 0, 0);
      transition: all .25s;
      z-index: 1000;

      &.is-open {
        transform: translate3d(0, 0, 0);
        transition: all .25s;
      }

      .burger {
        padding: .45em .65em;
        text-align: center;
      }

      .links-block {
        margin-bottom: 1px;
      }

      .header {
        display: flex;
        flex-direction: row;
        height: 60px;
        justify-content: flex-end;
      }

      .btn {
        .fa {
          display: block;
        }
        .fa-user-circle {
          font-size: 1.2em;
        }
      }

      .burger-menu-links {
        .btn {
          padding: 20px 15px;
          text-align: left;
          width: 100%;
        }
      }

      .fa-bars {
        display: block;
      }
    }

    .login {
      margin-bottom: 1em;
    }
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
  }

  .main {
    max-width: 100%;
    //height: calc(100vh - 105px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px 10px 45px;
    position: relative;

    &>.title {
      color: $white;
      left: 50%;
      line-height: 40px;
      max-height: 4px;
      position: fixed;
      text-transform: uppercase;
      top: 0;
      transform: translateX(-50%);
      z-index: 1000;
    }
  }


  .main-menu {
    display: none;
  }

  input {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }

  .btn-header {
    align-items: center;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    font-size: 9px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1em 1.2em;
    width: auto;

    i.fa {
      font-size: 25px;
    }

    &.active,
    &:hover {
      background: $white;
    }
  }

  .article {
    padding: 15px;

    h2 {
      font-size: 1.3em;
      margin: 0 0 5px;
      text-decoration: underline;
    }

    a {
      color: $black;
      text-decoration: none;

      .title {
        text-decoration: none;
      }
    }

    .info {
      flex-wrap: wrap;

      .body {
        font-size: 1em;
        font-weight: 100;
      }
    }
  }

  input,
  select {
    max-width: 100%;
    width: 100%;
  }

  .bottom-bar {
    .link {
      font-size: 10px;
    }
  }

  .list,
  .heading {
    margin: 0 -10px;
  }

  .add-new {
    margin: 0 -10px;
  }

  .hero {
    height: 150px;
    margin: 0 -10px;

    .hero-inner {
      height: 150px;
    }
  }

  .home-info {
    flex-wrap: wrap;

    .box {
      width: 100%;
      margin-bottom: 20px;

      &.articles {
        background: $white;
        margin: 0 -10px 15px;
        padding: 15px 10px 30px;
        width: auto;
      }

      .heading {
        margin: 0;
      }

      .title {
        font-size: 18px;
      }
    }
  }

  .song-detail .others a,
  .article-detail .others a {
    font-size: 14px;
  }

  .home-stats {
    padding-bottom: 30px;
    .stat {
      width: 100%;

      &.songs {
        p {
          margin: 0 0 10px;
        }
      }
    }


  }
}
