$black: #000;
$green: #86c67c;
$green-dark: #699864;
$red: #900;

body {
  margin: 0;
}

.main {
  padding: 1.5em;
}

.main-name {
  text-align: center;
}

.head {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5em;
}

.main-menu {
  align-items: center;
  background: $black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 20px;

  a {
    color: white;
    display: flex;
    padding: 20px;
    text-decoration: none;
    transition: all .25s;

    &.active,
    &:hover {
      background: white;
      color: black;
      transition: all .25s;
    }
  }
}


.input-field {
  position: relative;

  label {
    color: gray;
    font-size: .95em;
    left: 0;
    position: absolute;
    top: .75em;
    transition: all .25s;
  }

  input {
    background: none;
    border: 0;
    border-bottom: 1px solid color-primary;
    outline: 0;
    padding-left: 0;
    padding-right: 0;

    &:focus + label,
    &:valid + label {
      transform: translateY(-110%);
      color: gray;
      font-size: .8em;
      left: 0;
    }

    &:not(:placeholder-shown) + label {
      transform: translateY(-110%);
      color: gray;
      font-size: .8em;
      left: 0;
    }

    &:not(:-ms-input-placeholder) + label {
      transform: translateY(-110%);
      color: gray;
      font-size: .8em;
      left: 0;
    }
  }

  &.has-units {
    padding-right: 2em;

    .units {
      color: gray;
      font-size: .9em;
      padding: .7em 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .errors {
    margin: -1em 0 1.5em;
  }

  @supports (-ms-ime-align: auto) {
    input + label {
      transform: translateY(-110%);
      color: gray;
      font-size: .8em;
      left: 0;
    }
  }
}

.article {
  margin-bottom: 2em;
}

.login {
  button {
    background-color: $green;
    border: 1px solid $green-dark;
    border-radius: 2px;
    padding: .5em 1em;
  }
}
