@import 'variables';
@import 'general';
@import 'forms';
@import 'buttons';
@import 'typography';
@import 'bottom-bar';
@import 'lists';
@import 'image-box';
@import 'mobile-menu';
@import 'add-to-song-book';
@import 'home';
@import 'detail';

.search {
  margin-top: 20px;
}

.category-list {
  a {
    display: block;
  }
}


//new article -nova kategorie
.opening-box {
  border: 1px solid $black;
  border-top: 0;
  box-shadow: 0 0 3px $box-shadow;
  padding: 2em;
  position: relative;
  z-index: 2;
}



.article {
  position: relative;

  .admin-panel {
    align-items: center;
    background: $gray-light;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;

    .action {
      align-items: center;
      box-sizing: border-box;
      color: $black;
      display: flex;
      height: 50%;
      padding: 10px;
      position: relative;
      right: 0;
      text-decoration: none;
      width: 100%;
      z-index: 100;
    }
  }

  .body {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
  }

  .title {
    //font-family: 'Slabo 27px', serif;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    //margin: 0 -15px;
    //padding: 0 15px 10px;

    .date,
    .author,
    .category {
      font-size: 13px;
      margin: 0 10px 0 0;
      padding: 5px 0;
    }
  }


  &.detail {
    background: $white;
    box-shadow: none;
    padding: 0 0 15px;
  }
}

.login {
  display: flex;
  margin: 0;
}

.profil {
  .actions {
    border-bottom: 1px solid $gray;
    display: flex;

  }
}

.heading {
  background: $gray-light;
  color: $black;
  font-weight: 500;
  //margin: 0 0;
  padding: $space;
  position: relative;

  &.sub {
    background: $white;
    border-top: 1px solid $gray-light;
    margin-bottom: 0;
    padding: $small-space;
    text-align: center;
  }

  &> .text {
    font-size: 16px;
    font-weight: 100;

  }

  .article-link {
    color: $black;
    text-decoration: none;
    width: 100%;
  }

  &.image-bg {
    color: $white;
    height: 150px;
    padding: 0;

    .image-container {
      height: 100%;
    }

    .image {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .info {
    .name {
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .link {
    color: $gray-dark;
    float: right;
    font-size: 14px;
    font-weight: 100;
  }
}

.song-detail {
  .content {
    .text {
      max-height: calc(100vh - 175px);
      overflow-y: scroll;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.song-book-detail {
  .heading {
    margin-bottom: 3px
  }

  .list.bg {
    margin-bottom: 1px;

    .name {
      margin-bottom: 0;
    }
  }
}

.song-detail {
  .btn-add {
    position: absolute;
    right: 15px;
    top: 52px;
    z-index: 1;
  }
}

.song-detail,
.article-detail,
.song-book-detail {
  .name {
    margin-bottom: 8px;
  }
  .others {
    border-top: 1px solid $gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;

    a {
      color: $black;
      display: block;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .25s;

      &:hover {
        color: $gray-dark;
        transition: all .25s;
      }
    }
  }

  .like {
    font-size: 18px;
    text-align: center;
    width: 20%;

    i {
      display: block;
      font-size: 20px;
    }
  }

  .addedBy,
  .author {
    font-size: 18px;
    font-weight: 100;
    width: 40%;
  }

  .addedBy {
    text-align: right;
  }

  .date {
    font-weight: 100;
    margin-bottom: 5px;
    width: 100%;
  }

  &.bigger-text {
    .content {
      .text .song {
        font-size: 25px;
        line-height: 45px;

        .chord {
          font-size: 27px;

        }
      }
      .text {
        width: 70%;
        transition: all .5s;
      }

      .video {
        width: 30%;
        transition: all .25s;
      }
    }

  }

}

.article-detail .content .text {
  margin-top: 20px;
}

.home-stats {
  padding: 20px 0 80px;
  background: $gray;

  .inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .stat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    transition: all .5s;
    width: 33.3%;

    &:hover {
      p {
        transform: scale(1.15);
        transition: all .5s;
      }
    }

    &.songs {
      margin-bottom: 20px;
      width: 100%;

      p {
        color: $gold;
        font-size: 75px;
        font-weight: 300;
        margin-top: 35px;
      }

    }

    p {
      color: $black;
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 10px;
      text-align: center;
      transition: all .5s;
      width: 100%;
    }

    span {
      color: $black;
      text-align: center;
      width: 100%;
    }
  }
}

footer {
  padding: 10px 0;
  text-align: center;

  a {
    border-bottom: 1px solid transparent;
    color: $gray-dark;
    text-decoration: none;
    transition: all .5s;

    &:hover {
      border-bottom: 1px solid $gray-dark;
      transition: all .5s;
    }
  }
}

//desktop
@media screen and (min-width: 641px) {
  .login-mobile,
  .burger-menu {
    display: none;
  }

  .active-user {
    a {
      align-items: center;
      color: $black;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 0 .5em;
      text-decoration: none;
    }
  }
}

.image-container {
  height: 150px;
  overflow: hidden;
  position: relative;

  img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    background: $black-transparent;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}



.author-list {
  a {
    color: $white;
    text-decoration: none;
  }
}

.image-bg {
  overflow: hidden;

  .image {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .image-container {
      //height: 120px;
      position: relative;

      img {
        max-width: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        background: $black-transparent;
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }
  }

  .info {
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
    position: relative;

    .name {
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    .about {
      font-size: 13px;
    }

    .count {
      border-right: 1px solid $white;
      font-size: 15px;
      padding: 1px 5px;
      text-align: right;
    }
  }

  .info {
    position: relative;
  }

  .about {
    font-weight: 100;
    height: calc(100% - 40px);
    margin-top: 8px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
  }
}


.list {
  //margin: 0 -15px 1px;
  position: relative;

  &.image-bg {
    background: $gray-dark;
    //height: 120px;

    .image-container::after {
      transition: all .5s;
    }

    .info .name {
      margin-top: 0px;
      transition: all .5s;
    }

    .info .about {
      transition: all .5s;
    }

    .info .count {
      transition: all .5s;
    }

    &:hover {
      .image-container::after {
        background: rgba(0, 0, 0, 0.80);
        transition: all .5s;
      }

      .info .name {
        font-size: 0;
        margin-top: -11px;
        transition: all .5s;
      }

      .info .about {
        height: auto;
        max-height: 100%;
        transition: all .5s;
      }

      .info .count {
        font-size: 0;
        padding: 0;
        transition: all .5s;
      }
    }
  }

  &.bg {
    background: $gray-light;
    padding: 10px 15px;

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .name {
        font-size: 17px;
      }

      .right {

        .like {
          align-items: center;
          display: flex;
          font-size: 20px;
        }

        i.fa-heart,
        i.fa-heart-o {
          //color: $red;
          margin-right: 5px;
        }

      }

      .date {
        font-size: 11px;
      }
    }

    .others {
      display: flex;
    }

    .right {
      align-items: center;
      display: flex;

      .song-count {
        margin-right: 10px;
      }
    }

    .rating {
      margin-left: 5px;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }

  .admin-panel {
    border-left: 1px solid $white;
    display: flex;
    margin-left: 10px;
    margin-right: -10px;

    .action {
      padding: 0 10px;
    }
  }

}

.articles-all {
  //margin: 0 -15px;
}

.song {
  //font-family: 'Work Sans', sans-serif;
  //font-family: 'Space Mono', monospace;
  font-family: 'Cutive Mono', monospace;
  padding: 15px 10px 0;

  .chord {
    color: $black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
  }
}


@media screen and (min-width: 1280px) {
  .hero {
    .hero-inner {
      height: 400px;
      overflow: hidden;
      .hero-img {
        max-width: 100%;
      }
    }
  }

  .home-info {
    //padding: 15px 0;
    margin-left: calc( ( 100vw - (1280px) ) / 2* -1);
    margin-right: calc( ( 100vw - (1280px) ) / 2 * -1);
    .box {
      width: 33.3%;
      box-sizing: border-box;
      padding: 15px 15px;
      background: $gray-lighter;

      &.articles {
        background: $white;
        padding-left: calc( ( 100vw - (1280px) ) / 2);
            width: calc( 426px + ( ( 100vw - (1280px) ) / 2) );
      }

      &.favourite {
        //background: $black;
        //color: $white;
        padding-right: calc( ( 100vw - (1280px) ) / 2);
            width: calc( 426px + ( ( 100vw - (1280px) ) / 2) );
      }

      &.new {
        //background: $black;
        //color: $white;
        width: 456px;
      }

      &.new,
      &.favourite {
        .list.bg a {
          //color: $white;
        }
      }
    }
  }

  .home-stats {
    .inner {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  .song-detail .heading,
  .author-detail .heading.image-bg,
  .hero-inner,
  .home-stats,
  .article-detail:not(.articles-all) .heading {
    margin-left: calc( ( 100vw - (1280px) ) / 2* -1);
    margin-right: calc( ( 100vw - (1280px) ) / 2 * -1);

    .info {
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}


//desktop

@media screen and (min-width: 649px) {
  .new-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

     &>div {
      width: 100%;

      input,
      textarea {
        max-width: 50%;
      }
    }

    .add-cat {
      margin-top: 27px;
    }

    .category,
    .add-cat {
      width: 50%;
    }

    .new-category {
      &>div {
        input,
        textarea {
          max-width: 100%;
        }
      }
    }
  }



  .image-bg .about {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .add-new {
    .add {
      font-size: 18px;
      height: 50px;
      width: 50%;

      i {
        font-size: 25px;
      }
    }
  }









  .profil {
    margin-bottom: 35px;
  }
}

//mobile
@media screen and (max-width: $breakpoint-mobile) {
  .opening-box {
    margin-bottom: 2em;
    padding: 20px 15px 15px;
  }
}
