.bottom-bar {
  align-items: center;
  background: $white;
  border-top: 1px solid $gray;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
  position: fixed;
  width: 100%;

  a {
    color: $gray-dark;
    text-decoration: none;
    &.active {
      color: $black;
    }
  }

  .link {
    flex-grow: 1;
    text-align: center;

    i {
      display: block;
      font-size: 15px;
      margin-bottom: 1px;
    }

    &.add {
      i {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .bottom-bar {

    .inner {
      height: 80px;
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  .bottom-bar {
    background: transparent;
    border: 0;
    justify-content: flex-start !important;
    top: 0;

    &.container {
      height: 80px;
      justify-content: center !important;
      z-index: 3;
    }
  }

  .bottom-bar .link {
    transition: all .5s;
    flex-grow: 0 !important;
    height: 100%;
    display: flex;
    text-transform: none;

    a {
      align-items: center;
      border-bottom-color: transparent;
      color: rgba($white, .8);
      display: flex;
      justify-content: center;
      padding: 0  25px;
      transition: all .5s;

      &.active,
      &:hover {
        color: $white;
        //text-decoration: underline;
        transition: all .5s;
    }

    

      a {
        color: $white;
        //text-decoration: underline;
        transition: all .5s;
      }

      .link-to-home {
        text-decoration: none;
      }
    }

    &-to-home {
      align-items: flex-end;
      font-size: 24px;
      margin-right: 2em;

      .fa {
        font-size: 5px;
        margin-left: 5px;
      }

      span {
        font-size: 16px;
      }
    }

    i {
      font-size: 15px;
      margin-right: 5px;
    }

    &.chords,
    &.news,
    &.song-books {
      i {
        display: none;
      }
    }

    &.profile,
    &.login {
     margin-left: auto;
     order: 5;


      i {
        font-size: 15px !important;
        margin-right: 10px;
      }
    }

     &.main-name {
      img {
        height: 60px;
        position: relative;
        top: 8px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .bottom-bar {
    .link {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}
