.bottom-bar {
  align-items: center;
  background: $white;
  border-top: 1px solid $gray;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
  position: fixed;
  width: 100%;

  a {
    color: $gray-dark;
    text-decoration: none;
    &.active {
      color: $black;
    }
  }

  .link {
    flex-grow: 1;
    text-align: center;

    i {
      display: block;
      font-size: 18px;
      margin-bottom: 1px;
    }

    &.add {
      i {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .bottom-bar {
    .inner {
      height: 47px;
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  .bottom-bar {
    border: 0;
    justify-content: flex-start !important;
    top: 0;

    &.container {
      box-shadow: 0 1px 5px rgba(86, 86, 86, 0.2196078431372549);
      height: 47px;
      justify-content: center !important;
    }
  }

  .bottom-bar .link {
    font-size: 18px;
    font-weight: normal;
    transition: all .5s;
    flex-grow: 0 !important;
    height: 100%;
    display: flex;
    text-transform: none;

    &.active,
    &:hover {
      transition: all .5s;

      a {
        color: $black;
        transform: scale(1.05);
        transition: all .5s;
      }
    }

    i {
      font-size: 15px;
      margin-right: 5px;
    }

    a {
      align-items: center;
      border-bottom-color: transparent;
      display: flex;
      justify-content: center;
      padding: 0  25px;
      transition: all .5s;
    }

    &.favourite,
    &.profile {
      font-size: 10px;

      a {
        flex-wrap: wrap;
      }

      i {
        display: block;
        font-size: 18px;
        margin: 0 0 -10px;
        width: 100%;
      }
    }

    &.chords,
    &.news,
    &.song-books {
      i {
        display: none;
      }
    }

    &.add,
    &.login {
     margin-left: auto;
     order: 5;

     a {
      background: $black;
      color: $white;
      transform: none;
      transition: all .25s;
      width: 110px;

      &:hover,
      &:active,
      &.active {
        background: $gray;
        color: $gray-dark;
        transition: all .25s;

        span {
          transition: all .25s;
        }

        i {
          transform: scale(1.1);
          transition: all .25s;
        }
      }
     }

     i {
       font-size: 18px !important;
       margin-right: 10px;
       }
    }

     &.main-name {
      img {
        height: 60px;
        position: relative;
        top: 8px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .bottom-bar {
    .link {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}
