.song-detail,
.author-detail,
.article-detail,
.song-book-detail {
  .info {
    .btn {
      margin-bottom: 0;
    }
  }

  .detail-buttons {

  }

  .song-book-list {
    margin-bottom: 0;
  }

  .name h2 {
    font-weight: 300;
    margin: 0 0 20px;
  }

  .others {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;

    a {
      color: $white;
      display: block;
      font-size: 18px;
      transition: all .25s;

      &:hover {
        color: $gray-dark;
        transition: all .25s;
      }
    }
  }

  /*.like {
    font-size: 18px;
    text-align: center;
    width: 20%;

    i {
      display: block;
      font-size: 20px;
    }
  }*/

  .addedBy,
  .author {
    color: rgba($white, .5);
    font-size: 16px;
    font-weight: 100;
    width: 40%;

    a {
      margin-top: 2px;
    }
  }

  .addedBy {
    text-align: right;
  }

  .date {
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
    opacity: .6;
  }

  &.bigger-text {
    .content {
      .text .song {
        font-size: 25px;
        line-height: 45px;

        .chord {
          font-size: 32px;

        }
      }
      .text {
        width: 70%;
        transition: all .5s;
      }

      .video {
        width: 30%;
        transition: all .25s;
      }
    }
  }
}

.song-detail {
  .content {
    .text {
      max-height: calc(100vh - 253px);
      overflow-y: scroll;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.article-detail {
  .content {
    .text {
      margin-top: 20px;
    }
  }
}

.song-book-detail {
  .heading {
    margin-bottom: 3px
  }

  .list.bg {
    margin-bottom: 1px;

    .name {
      margin-bottom: 0;
    }
  }
}

.song {
  //font-family: 'Cutive Mono', monospace;
  //padding: 15px 10px 0;

  .chord {
    //color: $black;
    font-size: 22px;
    font-weight: 400;
    padding: 8px;
  }
}
@media screen and (min-width: 1030px) {
  /*.song-detail {
    .heading {
      margin-left: calc( ( 100vw - (997px) ) / 2* -1);
      margin-right: calc( ( 100vw - (997px) ) / 2 * -1);

      .info {
        margin: 0 auto;
        max-width: 1030px;

      }
    }
  }*/
}

@media screen and (min-width: 1030px) {
  .song-detail .heading,
  .author-detail .heading.image-bg,
  .article-detail:not(.articles-all) .heading,
  /*.song-detail .content,
  .author-detail .content,
  .article-detail:not(.articles-all) .content */ {
    margin-left: calc( ( 100vw - (980px) ) / 2* -1);
    margin-right: calc( ( 100vw - (982px) ) / 2 * -1);
    min-height: 125px;
    padding: 90px 25px 40px;

    .info {
      box-sizing: border-box;
      max-width: 1030px;
      margin: 0 auto;
      padding: 0 25px;
    }
  }

  .song-detail .content,
  .author-detail .content,
  .article-detail:not(.articles-all) .content {
    min-height: calc(100vh - 255px);
  }
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .author-detail,
  .article-detail,
  .song-book-detail,
  .song-detail {

    .heading {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(32, 25, 0, 0.9));
      margin-top: -80px;
      padding: 90px 25px 40px;

      .info .name {
        font-size: 26px;
        font-weight: 400;
        text-transform: none;
      }

      .info .about {
        font-size: 16px;
        opacity: .6;
      }

      .text {
        font-size: 18px;
        margin-top: 0;
      }
    }

    .content {
      background: rgba($black, .75);
      box-sizing: border-box;
      margin: 0 -25px;
      padding: 0 25px;
    }
  }

  .song-detail {
    .content {
      display: flex;

      .text {
        transition: all .5s;
        width: 60%;

        .song {
          font-size: 18px;
          line-height: 37px;
          padding-top: 25px;
        }
      }

      .video {
        transition: all .5s;
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .article-detail {
    .content {
      padding: $space 0;
    }
  }

  .song-detail {
    .heading {
      padding-top: 5px;
    }

    .btn-add {
      left: 0;
      margin: 0 0 15px;;
      position: relative;
      top: 0;
    }

    .content {
      .text {
        max-height: calc(100vh - 131px);
        overflow: -moz-scrollbars-none;
        overflow-y: scroll;
        -ms-overflow-style: none;
      }

      .video {
        padding: $big-space 0 52px;
      }
    }
  }

  .song-detail,
  .article-detail {
    .others a {
      font-size: 14px;
   }
  }
}
