label {
  color: rgba($white, .8);
  font-size: .95em;
  left: 0;
  position: absolute;
  top: .75em;
  transition: all .25s;
}

form {
  padding-top: $big-space;
}

.input-field {
  margin: 0 0 $big-space;
  position: relative;

  &.full-width {
    width: 100%;

    input,
    textarea {
      width: 100%;
    }
  }

  textarea {
    min-height: 150px;
    width: 100%;
  }

  input,
  textarea {
    background: none;
    border: 0;
    border-bottom: 1px solid $white;
    border-radius: 0;
    color: $white;
    outline: 0;
    padding: 1em 0;


    &:focus + label {
      font-size: .8em;
      left: 0;
      transform: translateY(-110%);
    }

    &:not(:placeholder-shown) + label {
      font-size: .8em;
      left: 0;
      transform: translateY(-110%);
    }

    &:not(:-ms-input-placeholder) + label {
      font-size: .8em;
      left: 0;
      transform: translateY(-110%);
    }
  }

  input[type="file"] {
    background: $white;
  }

  .has-units {
    padding-right: 2em;

    .units {
      color: $gray;
      font-size: .9em;
      padding: .7em 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .errors {
    margin: -1em 0 1.5em;
  }

  .error {
    color: $red;
    margin: 1em 0;
  }

  @supports (-ms-ime-align: auto) {
    input + label {
      color: $gray;
      font-size: .8em;
      left: 0;
      transform: translateY(-110%);
    }
  }
}

.select-field {
  padding: 2em 0 0;
  position: relative;

  select {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $black;
    padding: 1em 0;
    width: 100%;
  }

  option {
    padding: 1em 0;
  }
}

input,
select {
  -webkit-appearance: none;
  width: 100%;
}

.box {
  background: rgba($path-box, .9);
  border: 1px solid rgba($white, .25);
  margin: 0 auto;
  max-width: 400px;
  padding: $space * 3;
}

@media screen and (max-width: $breakpoint-mobile) {
  input,
  select {
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
}

