body {
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100 !important;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  
}


html {
  background: $white;
  //background: $black url('/img/background.png') no-repeat 50% 100% / cover;
  background-attachment: fixed;
}

a {
  background: transparent;
  //color: $white;
  transition: all .5s;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  font-weight: 100;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

.large {
  font-size: 18px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*flex styles*/
.row-flex {
  display: flex;
} 

.flex-justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1030px;
  padding: $big-space;
}

.error-box {
  background: rgba($red, .6);
  padding: 25px;
}

[data-ember-action]:not(:disabled),
.clickable {
  cursor: pointer;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.subtitle {
  .btn.btn-header {
    background: transparent;
    border: 0;
    border-right: 1px solid $gray;
    display: inline-block;
    font-size: 8px;
    line-height: 8px;
    margin-bottom: $small-space;
    padding: ($small-space / 2) $small-space;

    &:last-child {
      border: 0;
    }

    i.fa {
      display: block;
      font-size: 20px;
      margin-bottom: 3px;
    }
  }
}

.how-it-works {
  margin-top: $big-space;

  .image {
    max-width: 100%;

    img {
      box-shadow: 0 0 5px $black-transparent-light;
      max-width: 100%;
    }
  }
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .desktop-hidden {
    display: none !important;
  }

  .main {
    padding: 0px 25px 0;
    position: relative;
    top: 80px;
    z-index: 2;

    > .title {
      font-size: 26px;
      padding: 10px 0;
      text-align: center;

      &+ .subtitle {
        display: flex;
        position: absolute;
        right: 0;
        top: 55px;
      }
    }
  }

  .heading,
  .list.bg,
  .list {
    .info {
      .name {
        font-size: 20px;
      }
    }


    &.image-bg {
     //height: 150px;

      .info {
        .name {
          font-size: 26px;
          font-weight: 400;
          text-shadow: 1px 1px 6px rgba(0, 0, 0, .54);
          text-transform: none;
        }

        .about {
          font-size: 18px;
          margin-bottom: 10px;
          max-height: calc(100% - 75px);
        }
      }
    }
  }

  .flex-box-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .column {
      width: 100%;
    }

    .song-list,
    .article-list {
      .list {
        width: 100%;
      }
    }
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .full-width {
    width: 100%;
  }

  .space-between {
    justify-content: space-between;
  }

  .how-it-works {
    .col-3 {
      box-sizing: border-box;
      padding: $space;
      width: 33%;

      p {
        min-height: 50px;
      }
    }

    .full-width {
      padding: $space;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  body {
    font-size: 14px;
  }

  h1 {
  font-size: 30px;
  line-height: 33px;
  }

  h2 {
    font-size: 23px;
    line-height: 26px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .large {
    font-size: 16px;
  }

  .mobile-hidden {
    display: none;
  }

  .main {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 36px 10px 45px;
    position: relative;

    &>.title {
      color: $white;
      left: 50%;
      line-height: 40px;
      max-height: 4px;
      position: fixed;
      text-transform: uppercase;
      top: 0;
      transform: translateX(-50%);
      z-index: 1000;
    }

    .subtitle {
      display: flex;
      padding: $small-space 0;
    }
  }

  .list,
  .heading {
    margin: 0 (-$space);
  }
}
