.home {
  .home-box {
    background: rgba($path-box, .9);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 0;
    }

    h2 {
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }

  .welcome-banner {
    background: url(/img/wedding.jpeg) no-repeat 50% 50%/cover;
    height: 450px;
  }

  .info {
    margin-bottom: 20px;
    text-align: center;

    h2 {
      color: $blue-dark;
    }

    .date,
    .place,
    .dresscode {
      padding: 20px 15px;

      .inner {
        max-width: 1024px;
        margin: 0 auto;
      }
    }

    .date {
      background: $garned;
      color: $white;

      a {
        color: $white;
      }

      .date-number {
        font-size: 25px;
        margin: 0;
      }
    }

    .place {

      .inner {
        max-width: 800px;
      }

      

      p {
        //text-align: left;
      }
    }

    .dresscode {
      //background: $blue-dark;
      .color {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 400px;
        margin: 0 auto;

        .red,
        .blue,
        .gold {
          position: relative;
          height: 50px;
          width: 50px;
        }

        .red {
          background: $garned;
        }

        .gold {
          background: $gold;
        }

        .blue {
          background: $blue-dark;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .home {
    
  }
}

@media screen and (min-width: 1280px) {
 
}

@media screen and (max-width: $breakpoint-mobile) {
  .home {
    .welcome-banner {
      height: 250px;
    }
  }
}
