.home {
  .home-box {
    background: rgba($path-box, .9);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 0;
    }

    h2 {
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .home {
    h1 {
      font-size: 64px;
      line-height: 75px;
    }

    .welcome,
    .home-box {
      padding: 0 0;
    }

    .home-box {
      bottom: 0;
      left: 0;
      margin: 0 -25px;
      padding: 75px 75px;
      position: fixed;
      right: 0;

      h3 {
        margin-top: 10px;
      }

      .homepage-buttons {

      }
    }
  }
}

@media screen and (min-width: 1280px) {
 
}

@media screen and (max-width: $breakpoint-mobile) {
  .home {
    .motto {
      font-size: 20px;
      line-height: 20px;
    }

    .welcome {
      padding: 10px 0 15px;
    }

    .home-box {
      background: transparent;
      flex-wrap: wrap;
      margin: 0 -10px;

      h3 {
        margin-top: 10px;
      }

      .path-box {
        background: rgba($path-box, .9);
        padding: 25px 10px;
        width: 100%; 

        &:first-child {
          background: rgba($path-box-lighter, .9);
        }
      }

      .text-right {
        text-align: left;
      }
    }
  }
}
