.author-list {
  a {
    color: $white;
    text-decoration: none;
  }
}

.category-list {
  a {
    display: block;
  }
}

.list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;

  a {
    text-decoration: none;
  }

  &.image-bg {
    background: $gray-dark;

    .image-container::after {
      transition: all .5s;
    }

    .info .name {
      margin-top: 0;
      transition: all .5s;
    }

    .info .about {
      transition: all .5s;
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox
      &::-webkit-scrollbar {
            display: none;
          }
    }

    .info .count {
      transition: all .5s;
    }

    &:hover {
      .image-container::after {
        background: rgba(0, 0, 0, 0.80);
        transition: all .5s;
      }

      .info .name {
        font-size: 0;
        margin-top: -11px;
        transition: all .5s;
      }

      .info .about {
        height: auto;
        max-height: 100%;
        transition: all .5s;
      }

      .info .count {
        font-size: 0;
        padding: 0;
        transition: all .5s;
      }
    }
  }

  &.bg {
    background: rgba($white, .17);
    //border: 1px solid $white;
    border-radius: 0;
    color: $white;
    padding: 10px 15px;

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .name {
        font-size: 17px;
      }

      .right {

        .like {
          align-items: center;
          display: flex;
          font-size: 20px;
        }

        i.fa-heart,
        i.fa-heart-o {
          margin-right: 5px;
        }

      }

      .date {
        font-size: 11px;
      }
    }

    .others {
      display: flex;
    }

    .right {
      align-items: center;
      display: flex;

      .song-count {
        margin-right: 10px;
        min-width: 64px;
        text-align: right;
      }
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .admin-panel {
    border-left: 1px solid $white;
    display: flex;
    margin-left: 10px;
    margin-right: -10px;

    .action {
      padding: 0 10px;
    }
  }
}


.heading {
  background: rgba($path-box, .9);
  padding: $space;
  position: relative;

  &.sub {
    background: $white;
    border-top: 1px solid $gray-light;
    margin-bottom: 0;
    padding: $small-space;
    text-align: center;
  }

  &> .text {
    font-size: 16px;
    font-weight: 100;
  }

  .article-link {
    //color: $black;
    //text-decoration: none;
    width: 100%;
  }

  &.image-bg {
    color: $white;
    //height: 150px;
    padding: 0;

    .about {
      -ms-overflow-style: none;  // IE 10+
      overflow: -moz-scrollbars-none;  // Firefox
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .image-container {
      height: 100%;
    }

    .image {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .info {
     

    .name {
  
    }
  }

  .link {
    color: $gray-dark;
    float: right;
    font-size: 14px;
    font-weight: 100;
  }
}

.image-bg {
  overflow: hidden;

  .image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .image-container {
      height: 100%;
      position: relative;
    }
  }

  .info {
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
    position: relative;
  }

  .about {
    font-weight: 100;
    height: calc(100% - 40px);
    margin-top: 8px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
  }
}

.image-container {
  //height: 150px;
  overflow: hidden;
  position: relative;

  img {
    left: 50%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &::after {
    background: $black-transparent;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .song-list,
  .article-list,
  .author-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .list {
      border: 0;
      box-sizing: border-box;
      padding: $small-space $space;
      transition: all .5s;
      width: 33.3%;

      &:hover {
        background: $gray;
        transition: all .5s;
      }
    }
  }

  .image-bg {
    .info {
      padding: 0;
    }
  }

  .articles-all {
    width: 100%;

    .heading {
      width: 33.3%;
      transition: all .25s;

      &:hover {
        background: $gray;
        transition: all .25s;
      }
    }
  }

  .author-list {

  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .list.image-bg {
    display: flex;
    height: 120px;

    .list {
      height: 150px;
    }
  }
}
