.head {
  background: $black;
  box-shadow: 0 1px 7px $black-transparent;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  .login {
    display: none;
    margin-bottom: 1em;
  }

  .inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .login-mobile {
    display: flex;

    .fa {
      display: block;
    }
  }

  .active-user {
    background: $black;
    padding: .45em .65em;
    text-align: center;

    a {
      color: $white;
      text-decoration: none;
    }

    .fa {
      display: block;
    }
  }

  .main-name {
    color: $white;
    margin: 0;

    img {
      left: 5px;
      max-height: 55px;
      position: absolute;
      top: 0;
    }

    &.arrow {
      background: transparent;

      .back {
        color: $white;
        padding-left: $space;
      }
    }
  }

  .right {
    background: $black;
    display: flex;
    overflow: hidden;
    padding-right: $small-space;

    .btn-header.active {
      background: transparent;
      color: $white;
    }
  }

  .fa {
    font-size: 30px;
  }
}

@media screen and (min-width: $breakpoint-mobile + 1) {
  .head {
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
