@media print {

  .bottom-bar {
    display: none !important;
  }

  .main,
  body,
  html {
    background: $white;
    padding: 0mm 0mm 0mm 0mm !important;
    margin: 0mm 0mm 0mm 0mm !important;
    top: 0mm !important;
  }
  .head {
    display: none !important;
  }

  .song-book-editor {

    >.content {
      max-height: none;
    }

    &.print {
      box-shadow: none;
    }

    .editor {
      display: none;
    }

    .list-of-songs {
      page-break-after: always;
    }

    .title-page {
      height: 100vh;
      page-break-after: always;
      width: 100%;

      .btn {
        display: none;
      }

      .name {
        font-size: 25px;
      }

      .author,
      .like {
        display: none;
      }

      .others {
        justify-content: center;

        .addedBy {
          text-align: center;
          width: auto;
        }
      }
    }
  }

  .song-detail {
    height: 100%;
    page-break-after: always;
    width: 100%;

    .song {
      columns: 2;
      font-size: 14px;
      padding: 15px 30px 0;

      .chord {
        font-size: 14px;
      }
    }

    .name {
      font-size: 14px;
      margin: 0 0 5px;
    }

    .others {
      padding: 5px 0 0;

      .author {
        font-size: 0;

        a {
          font-size: 12px;
        }
      }
    }


  }
}
