$black: #000;
$black-transparent: rgba(0, 0, 0, .72);
$black-transparent-light: rgba(0, 0, 0, .2);
$blue: #315fa9;
$blue-dark: #202328;
$brown: #230e02;
$brown-light: #ffccaf;
$brown-transparent: rgba(117, 45, 15, .41);
$green: #488e48;
$green-dark: #1b4231;
$green-transparent: rgba(109, 255, 177, 0.47);
$primary: $black;
$red: #900;
$white: #fff;
$gold: #e8b800;
$gray: #e8e8e8;
$gray-light: #f0f0f0;
$gray-lighter: #f7f7f7;
$gray-dark: #636363;
$yellow: #daac00;
$box-shadow: #a9a9a9;
$red: #bd0000;
$white-transparent: rgba(255, 255, 255, .5);

$breakpoint-mobile: 648px;
$max-width: 1280px;

$space: 15px;
$big-space: 2 * $space;
$small-space: $space / 2;
