<div class="category-list">
  {{#each model as |category|}}
    {{#link-to "articles.category.show" category.id}}
      <div class="image-box">
        {{load-image model=category class="image-container"}}
        <div class="category-name">
          {{category.name}}
        </div>
      </div>
    {{/link-to}}
  {{/each}}
</div>
