<div class="title">
  Kategorie článků
</div>
<div class="subtitle">
  {{#link-to "articles.show" class="btn btn-small btn-default"}}Zobrazit vše{{/link-to}}
</div>
<div class="category-list">
  {{#each model as |category|}}
    <div class="list bg">
      {{#link-to "articles.category.show" category.id}}
      <div class="info">
        <div class="name">
          {{category.name}}
        </div>
        <!--div class="count">
          {{!category.count}}
        </div-->
      </div>
      {{/link-to}}
    </div>
  {{/each}}

</div>
