<div class="category-list">
  {{#each model as |category|}}
  <div class="image-box">
    {{load-image model=category class="image-container"}}
    <div class="category-name">
      {{#link-to "articles.category.show" category.id}}{{category.name}}{{/link-to}}
    </div>
  </div>
  {{/each}}
</div>
