<div class="image-box">
  <div id="image-container" class="image-container">
  </div>
  <div class="category-name">
    {{model.category.name}}
  </div>

</div>

{{load-image model=model}}


{{category-article-list model=model}}
