<div class="image-box">
  {{load-image model=model.category class="image-container"}}
  <div class="category-name">
    {{model.category.name}}
  </div>

</div>




{{category-article-list model=model}}
