<div class="row">
  <div class="col-50">
    <div class="panel">

      {{input-field type="text" model=article attr="model" label="název"}}
      {{input-field type="text" model=article attr="model" label="text"}}

      <button type="submit" class="btn btn-primary btn-md form-submit" disabled={{loading}}>
        Uložit
      </button>
    </div>
  </div>
</div>

<div class="offset form-buttons">
  {{btn-back}}
</div>
