
<div class="title">
  Jak to funguje?
</div>
<div class="content how-it-works flex-box-row flex-wrap">
  <div class="flex-box-row full-width">
    <p>Po stisknutí tlačítka "tisk" se vám zobrazí voby tisku. <small>(Doporučuji používat prohlížeč google Chrome.)</small></p>
  </div>
  <div class="col-3">
    <p>1. Klikněte na "+ More settings" (Rozšířená nastavení).</p>
    <div class="image">
      <img src="/img/printMore.png" alt="">
    </div>

  </div>
  <div class="col-3">
    <p>2. Vyberte podle zvoleného formátu v editoru zpěvníku buďo formát A4 a nebo A5.</p>
    <div class="image">
      <img src="/img/printA4.png" alt="">
    </div>
  </div>
  <div class="col-3">
    <p>3. Nastavte okraje stránky na "žádné" a nebo "minimum" a zaškrtněte checkox "grafika na pozadí" a odškrtněte chckbox "záhlaví a zápatí".</p>
    <div class="image">
      <img src="/img/printA5.png" alt="">
    </div>
  </div>
  <br>
  <div class="flex-box-row">
    <div class="col-3">
      <p>4. Siskněte tlačítko "uložit". Zpěvník se vám stáhně ve formátu PDF a poté ho můžete vytsknout.</p>
    </div>
  </div>

</div>
