<div class="home">
  <div class="welcome">
    <h1>Vítejte na chords.cz</h1> 

    {{#unless session.isAuthenticated}}
    <h2>{{#link-to "signup"}}Založte{{/link-to}}
       si uživatelský účet pro <br>
        zpřístupnění všech funkcí webu.</h2>
    {{else}}
      <h2 class="motto">Prohlédněte si své oblíbené akordy</h2>
    {{/unless}}
  </div>
  <div class="home-box">
    <div class="path-box">
      <h2>{{#link-to "song.author.index"}}Akordy{{/link-to}}</h2>
      <h3>Prohlížejte, přidávejte a editujte <br>
      písničky s akordy.</h3>
      <div class="homepage-buttons">
        {{#link-to "song.author.index" class="btn btn-large"}}Prohlížet{{/link-to}}
        {{#link-to "song.new" class="btn btn-large"}}Vložit{{/link-to}}
      </div>
    </div>
    <div class="path-box text-right">
      <h2>{{#link-to "song-book.index"}}Zpěvníky{{/link-to}}</h2>
      <h3>Listujte zpěvníky, nebo si <br>
      vytvořte a vytiskněte vlastní.</h3>
      <div class="homepage-buttons">
        {{#link-to "song-book.index" class="btn btn-large"}}Listovat{{/link-to}}
        {{#link-to "song-book.index" class="btn btn-large"}}Vložit{{/link-to}}
      </div>
    </div>
  </div>
 
</div>
