<div class="home">
  <div class="welcome-banner">

  </div>
  <div class="info">
    <div class="date">
      <div class="inner">
        <p class="date-number margin-0">
          1.6.2019
        </p>
      </div>
    </div>
    <div class="place">
      <div class="inner">
        <h2>Místo</h2>
        <h3>Statek Starý Kolín</h3>
        
        <p><strong>Adresa: </strong>
        Hlízovská 357, 281 23 Starý Kolín</p>
        <p><strong>Web:</strong>
        <a href="http://statek-stary-kolin.cz/">statek-stary-kolin.cz</a></p>
      </div>
    </div>
    <div class="dresscode">
      <div class="inner">
        <h2>Barvy</h2>
        <div class="color">
          <div class="blue">

          </div>

          <div class="red">

          </div>

          <div class="gold">
            
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
