<div class="home">
  <div class="welcome">
    <h1>Vítejte na chords.cz</h1> 

    {{#unless session.isAuthenticated}}
    <h2>{{#link-to "signup"}}Založte{{/link-to}}
       si uživatelský účet pro <br>
        zpřístupnění všech funkcí webu.</h2>
    {{else}}
      <h2 class="motto">Prohlédněte si své oblíbené akordy</h2>
    {{/unless}}
  </div>
 
</div>
