
<div class="box">
  <p>Nejnovéjší písničky</p>
  {{song-list first=true model=model.songs}}
</div>
<div class="box">
  <p>Nejoblíbenější písničky</p>
  {{song-list firstLikes=true model=model.songs}}
</div>
<div class="box">
  <p>Nejnovéjší články</p>
  {{article-list first=true model=model.articles onlyTitle=true}}
</div>
<br>
