<div class="title">
  Vyhledávání
</div>
<div class="input-field">
  {{search-component songs=model id="search" placeholder=" "}}
  <label class="control-label" for="search">Název písničky</label>
</div>
